<div class="row">
    <div class="col-md-6">
        <img src="{{ product.image }}" alt="" class="img-fluid w-50">
    </div>
    <div class="col-md-6">
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <p>Rate: {{ product.rate }} / 10</p>
        <p>{{ product.reviews }}</p>
        <p class="card-text">{{ product.createdAt | date : 'MMMM YYYY' }}</p>
        <p [ngClass]="{'text-danger':product.count==0}" *ngIf="product.count==0;">out of stock</p>
        <p [ngClass]="{'text-success':product.count>0}" *ngIf="product.count>0;">In stock</p>
        <p class="card-text">{{ product.price | currency:'EGP ' }}</p>
    </div>
</div>
